<div class="container">
	<div class="span10">
		<h1>Konsertserier</h1><br />
			<table >
				<tbody>
					<% @series.each do |serie| %>
				<td style="width:70%">
					<h2><%= link_to serie.name, '/konsertserier/'+serie.id.to_s %></h2>
					<div class="seriedesc"><%= serie.desc %></div>
				</td>
				<td>
					<%= image_tag serie.photo.url(:medium) %>
				</td>
			</tr>
			<% end %>
		</tbody>
		</table>
	</div>
</div>

