<div class="container">
	<h1>Konsertserier</h1><br />
		<table class="tavle">
			<tbody>
				<% @series.each do |serie| %>
			<td>
				<div><h2><%= link_to serie.name, '/konsertserier/'+serie.id.to_s %></h2></div>
				<div class="seriedesc"><%= serie.desc %></div>
			</td>
			<td>
			<div><%= image_tag serie.photo.url(:medium) %></div>
			</td>
		</tr>
		<% end %>
	</tbody>
	</table>
</div>

