<div class="container">
	<div style="float:left"><h1><%= @serie.name %></h1></div>
	<div style="float:right"><%= image_tag @serie.photo.url(:medium) %></div>
	<div class="clearfix"></div>
	<div class="seriedesc"><%= @serie.desc %></div>
	
</div>

