
<div class="container">
		<h1>Om Konsertforeninga</h1><br />
	

	Konsertforeninga har gjennom over ti års virke opparbeida seg en enestående erfaring som kulturformidler i Oslo by.<br /><br />

	Fram til inngangen av 2007 holdt vi hus på en adresse ved Akerselva, men har siden den gang levd en nomadisk tilværelse som konsertarrangør ved flere ulike scener i hovedstaden.
<br /><br />
	Vårt credo om å bringe til torgs banebrytende og bra musikk i alle sjangre – og stadig med et skråblikk til jazzen – holdes fortsatt høyt i hevd. Og inntil vi får etablert oss med fast bopæl inviterer vi godtfolk til å danse med oss rundt i Oslo.
<br /><br />
	Konsertforeninga står for konsertseriene Death Jazz, Blow Out!, FemmeBrutal!, Blårollinger, Gutvik Ukentlig og Ladyfest i tillegg til flere andre konserter.
<br /><br />
	<div class="span9">
		<table class="table">
			
		<% @news.take(4).each do |nyhet| %>
			<tbody>
				<tr>
					<td class="span3"><%= nyhet.serie.name %> </td><td> <%= link_to nyhet.title, '/nyheter/'+nyhet.id.to_s %></td>
				</tr>
			</tbody>
		<% end %>
		</table>
	</div>
	<br /><br />
	Kontakt oss på :<br />

	booking@konsertforeninga.no<br />

	eller <br />

	Konsertforeninga <br />

	Postboks 4774 Sofienberg, 0506 Oslo

</div>


