<div class="container">
	<h1>About Konsertforeninga</h1><br />
	<div style="float:left;margin:10px"><%= image_tag "konsertforeninga1.jpg", :width => "50%", :height => "50%" %></div>
		Konsertforeninga [The Concert Union] is an independent concert promoter located in Oslo, Norway. We have over 10 years of experience in the field. We do concerts in several different venues of all kinds and sizes in Oslo.
<br /><br />
		We specialize in promoting new and challenging music of all genres, perhaps with a special emphasis on jazz and improvised music.
<br /><br />
		If you have any questions, don't hesitate to contact us at <a href="mailto:booking@konsertforeninga.no">booking(at)konsertforeninga.no</a>.
</div>

