<div class="container">
		<h1>Medlemskap i Konsertforeninga</h1><br />
	<div style="float:left;margin-right:10px;border:1px"><%= image_tag "konsertforeninga3.jpg" %>
	</div>
		Konsertforeninga er en åpen forening tilknyttet Norsk Jazzforum. Som medlem vil du få rabatt på konsertene våre. Men du får også rabatt hos andre jazzklubber som er medlem av Norsk Jazzforum.<br /><br />

		Medlemskap kan du kjøpe i døra før konsert eller ved å sende en mail til medlemskap@konsertforeninga.no med navn og adresse, så får du medlemskort og faktura i posten.<br /><br />

		Medlemsskap koster <b>300 kroner</b> i året.
</div>

